<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>Оформление заказа</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{index}">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="70" class="d-inline-block align-top" alt="2 BULLS"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">Магазин</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">Корзина</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}"></span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/wishlist}" href="#">Избранное</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Войти</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Выйти</a>
                </li>


            </ul>

        </div>
    </div>
</nav>
<div class="container">

    <!--Section: Block Content-->
    <section class="mt-5 mb-4">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-8 mb-4">

                <!-- Card -->
                <div class="card wish-list pb-1">
                    <div class="card-body">

                        <h5 class="mb-2"> <strong>Реквизиты покупателя</strong></h5>

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-lg-4">

                                <!-- First name -->
                                <div class="md-form md-outline mb-0 mb-lg-4">
                                    <label for="firstNameField">Имя <span style="color:red">*</span></label>
                                    <input type="text" id="firstNameField" required class="form-control mb-0 mb-lg-2">
                                </div>

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-4">

                                <!-- Last name -->
                                <div class="md-form md-outline">
                                    <label for="lastNameField">Фамилия <span style="color:red">*</span></label>
                                    <input type="text" id="lastNameField" required class="form-control">
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="md-form md-outline">
                                    <label for="phoneField">Телефон <span style="color:red">*</span></label>
                                    <input type="number" id="phoneField" required class="form-control">
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <div class="row">
                                <div class="md-form md-outline col-lg-4">
                                    <label for="emailField">Email <span style="color:red">*</span></label>
                                    <input type="email" required id="emailField" class="form-control">
                                </div>
                            <div class="md-form md-outline col-lg-4">
                                <label for="deliveryTimeField">Доставка на время <span style="color:red">*</span></label>
                                <input type="text" required id="deliveryTimeField"class="form-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <div class="md-form md-outline col-lg-4">
                                <label for="additionalPhone">Дополнительный телефон</label>
                                <input type="number" id="additionalPhone" class="form-control">

                            </div>
                        </div>
                        <!-- Grid row -->

                        <!-- Country -->
                        <div class="d-flex flex-wrap mt-3">
                            <div class="select-outline position-relative w-100">
                                <label><strong>Адрес</strong></label>
                            </div>
                        </div>

                        <!-- Address Part 1 -->
                        <div class="row">
                        <div class="md-form md-outline mt-2 col-lg-6">
                            <label for="streetField">Улица/квартал <span style="color:red">*</span></label>
                            <input type="text" required id="streetField" class="form-control">
                        </div>
                        <!-- Address Part 2 -->
                        <div class="md-form md-outline mt-2 col-lg-6">
                            <label for="houseField">Дом <span style="color:red">*</span></label>
                            <input type="text" id="houseField" required class="form-control">
                        </div>
                        </div>
                        <div class="row">
                            <div class="md-form md-outline mt-2 col-lg-4">
                                <label for="flatField">Квартира</label>
                                <input type="text" maxlength="4" id="flatField" class="form-control">
                            </div>
                            <div class="md-form md-outline mt-2 col-lg-4">
                                <label for="floorField">Этаж</label>
                                <input type="text" maxlength="3"  id="floorField" class="form-control">
                            </div>
                                <div class="md-form md-outline mt-2 col-lg-4">
                                    <label for="entranceField">Подъезд</label>
                                    <input type="text" maxlength="4" required id="entranceField" class="form-control">
                                </div>
                            </div>
                        <div class="md-form md-outline mt-2">
                            <label for="additionalInfoField">Примечание</label>
                            <textarea id="additionalInfoField" class="md-textarea form-control" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4">

                <!-- Card -->
                <div class="card mb-4">
                    <div class="card-body">

                        <h5 class="mb-3">Общая сумма </h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Сумма, подлежащая к уплате
                                <span>₽<span th:text="${total}"></span></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Доставка
                                <span>Бесплатно</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Общая сумма покупки</strong>
                                    <strong>
                                        <p class="mb-0">(вклчюая НДС)</p>
                                    </strong>
                                </div>
                                <span><strong>₽<span th:text="${total}"></span></strong></span>
                            </li>
                        </ul>

                        <form action="" method="post" th:action="@{/payNow}" >
                            <button type="submit"  class="btn btn-primary btn-block waves-effect waves-light">Перейти к оформлению заказа</button>
                        </form>

                    </div>
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-4">
                    <div class="card-body">

                        <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
                           aria-expanded="false" aria-controls="collapseExample">
                            Введите код скидочного купона (необязательно)
                            <span><i class="fas fa-chevron-down pt-1"></i></span>
                        </a>

                        <div class="collapse" id="collapseExample">
                            <div class="mt-3">
                                <div class="md-form md-outline mb-0">
                                    <input type="text" id="discount-code" class="form-control font-weight-light"
                                           placeholder="Введите код скдиочного купона">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Block Content-->


</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    $('#deliveryTimeField').datetimepicker({
        timepicker: false,
        datepicker:true,
        format:'d-m-Y',
        weeks:true
    })
</script>
</body>
</html>