<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Авторизация</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{index}">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="70" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">Магазин</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Зарегистрироваться</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Авторизация</h2>
            <p>Пожалуйста, заполните поля для авторизации</p>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.logout}">
                    <div class="alert alert-info" role="alert">Вы успешно вышли из своего аккаунта.</div>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger" role="alert">Неверные имя пользователя или пароль.</div>
                </div>
                <div class="form-group">
                    <label for="email"><strong>Email</strong> </label>
                    <input type="email" name="email" id="email" placeholder="Ваш Email" class="form-control form-control-lg" required>
                </div>

                <div class="form-group">
                    <label for="password"><strong>Пароль</strong> </label>
                    <input type="password" class="form-control form-control-lg" placeholder="Пароль" name="password" id="password" required>
                </div>

                <input type="submit" value="Войти" class="btn btn-primary btn-block">
                <a href="/oauth2/authorization/google" class="btn btn-primary btn-block">Войти через Google </a>
                <br>
                <span >У вас нет аккаунта? <a class="linkControl" href="./register.html"
                                                th:href="@{/register}">Зарегистрируйтесь здесь</a></span>
                <br>
                <a href="" th:href="@{/forgotpassword}">Забыли пароль ?</a>
            </form>

        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>