<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Регистрация</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{index}">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="70" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Главная</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">Магазин</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Зарегистрироваться</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container">
    <div class="col-sm-6">
        <h3 style="margin-top: 10px">Зарегистрируйтесь прямо сейчас</h3>
        <p>Заполните необходимые поля для регистрации</p>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="firstName">Имя</label>
                <input type="text" name="firstName" id="firstName" th:filed="*{firstName}" required placeholder="Ваше имя" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input type="text" name="lastName" id="lastName" th:field="*{lastName}" required placeholder="Ваша фамилия" class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control-lg" th:field="*{email}" required minlength="6" placeholder="Email" name="email" id="email"
                       aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Мы не распространим ваш email никому.</small>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control form-control-lg" th:field="*{password}" required placeholder="Пароль" name="password"
                       id="password">
            </div>

            <input type="submit" value="Зарегистрироваться" class="btn btn-primary btn-block">
            <span style="margin-top: 10px">У вас уже есть аккаунт? <a class="linkControl" href="./login.html"
                                                                      th:href="@{/login}">Авторизоваться</a></span>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>